[submodule "git/powerlevel10k"]
	path = git/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule ".config/ranger/plugins/ranger_devicons"]
	path = .config/ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
[submodule "git/Qute-Translate"]
	path = git/Qute-Translate
	url = https://github.com/AckslD/Qute-Translate
[submodule "git/gtk-theme-framework"]
	path = git/gtk-theme-framework
	url = https://github.com/jaxwilko/gtk-theme-framework
[submodule "git/paru"]
	path = git/paru
	url = https://aur.archlinux.org/paru
[submodule "git/styli.sh"]
	path = git/styli.sh
	url = https://github.com/thevinter/styli.sh
[submodule ".config/emacs"]
	path = .config/emacs
	url = https://github.com/plexus/chemacs2
[submodule ".config/doom-emacs"]
	path = .config/doom-emacs
	url = https://github.com/hlissner/doom-emacs
[submodule ".config/qutebrowser/style/dracula"]
	path = .config/qutebrowser/style/dracula
	url = https://github.com/dracula/qutebrowser-dracula-theme.git
