[submodule "git/powerlevel10k"]
	path = git/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule "git/Qute-Translate"]
	path = git/Qute-Translate
	url = https://github.com/AckslD/Qute-Translate
[submodule "git/gtk-theme-framework"]
	path = git/gtk-theme-framework
	url = https://github.com/jaxwilko/gtk-theme-framework
[submodule "git/paru"]
	path = git/paru
	url = https://aur.archlinux.org/paru
[submodule "git/styli.sh"]
	path = git/styli.sh
	url = https://github.com/thevinter/styli.sh
[submodule "git/ranger_devicons"]
	path = git/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
[submodule "git/chemacs2"]
	path = git/chemacs2
	url = https://github.com/plexus/chemacs2
[submodule "git/doom-emacs"]
	path = git/doom-emacs
	url = https://github.com/hlissner/doom-emacs
[submodule "git/qutebrowser-dracula-theme"]
	path = git/qutebrowser-dracula-theme
	url = https://github.com/dracula/qutebrowser-dracula-theme
